<div class="container">
    <h1>Add Task Form</h1>

    <form (ngSubmit)="onTaskSave(f)" #f="ngForm" >

        <div class="form-group" >
            <label>Task id</label>
            <input name="Id" required pattern="[0-9]*" ngModel #Id="ngModel"  type="text" class="form-control" placeholder="Enter task id">
            <label class="alert alert-danger" *ngIf="Id.hasError('required') && !Id.pristine"  >task id is required.</label>
            <label class="alert alert-danger" *ngIf="Id.hasError('pattern') && !Id.pristine" >only number</label>
          </div>

          <div class="form-group" >
            <label>Title</label>
            <input name="Title" required ngModel #Title="ngModel"  type="text" class="form-control" placeholder="Enter Title">
            <label class="alert alert-danger" *ngIf="Title.hasError('required') && !Title.pristine"  >title is required.</label>
          </div>

          <div class="form-group" >
            <label>Status</label>
            <input name="Status" required ngModel #Status="ngModel"  type="text" class="form-control" placeholder="Enter Title">
            <!--<label class="alert alert-danger" *ngIf="Status".hasError('required') && !Status".pristine"  >status is required.</label>-->
          </div>

          <div class="form-group">
            <button [disabled]="!f.valid" type="submit" class="form-control btn btn-primary" >Save Task</button>
          </div>

    </form>
</div>

